@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #231e41;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.nav-left a {
  text-decoration: none;
  color: #231e41;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-left a i {
  font-size: 20px;
  margin-right: 5px;
}
.intro {
  margin: 100px atuo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro h1 {
  font-size: 50px;
  font-weight: bold;
  color: #231e41;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  /* make color of text gradient from first word to last */
  background: linear-gradient(to right, #231e41, #b31488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.intro-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 15px;
  font-weight: 500;
  color: #231e41;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(to right, #231e41, #b31488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.bio {
  font-size: 13px;
  color: #231e41;
  margin-bottom: 20px;
  margin-bottom: 40px;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menu-btn-small {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  color: #231e41;
}
